{% extends "base.html" %}

{%load static%}

{% block content %}

<!DOCTYPE html>
<html>
    <head>
        <title>Flowers management diagram site</title>
    </head>
    <body>
        <div class="animate_appear">
            <div class="section_header">
                <div class="section_header_title">
                    <div class="additional_background">
                        <h1 style="text-align:center">Flowers management system diagrams</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="button_main_page_loc">
            <button type="button" class="button_main_page" onclick="location.href = '/website/main_page'">Go to main page</button>
        </div>
    </body>
</html>

{% endblock %}
