{% extends "base.html" %}

{%load static%}

{% block content %}

<!DOCTYPE html>

<html>
    <head>
        <title>Flowers management site</title>
    </head>
        <div class="animate_appear">
            <div class="section_header">
                <div class="section_header_title">
                    <div class="additional_background">
                        <h1 style="text-align:center">Flowers management system main page</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="soil-moisture">
            <div class="animate_delay">
                <div class="animate_delay_appear">
                    <div class="additional_background">
                        <div class="section_header">
                            <h2>Soil moisture values:</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="animate_delay">
                <div class="animate_delay_appear">
                    <div class="additional_background">
                        <p>Soil moisture for flower 1: {{flower_1}} %</p>
                        <p>Soil moisture for flower 2: {{flower_2}} %</p>
                        <p>Soil moisture for flower 3: {{flower_3}} %</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="environment">
            <div class="animate_delay">
                <div class="animate_delay_appear">
                    <div class="additional_background">
                        <div class="section_header">
                            <h2>Environment values:</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="animate_delay">
                <div class="animate_delay_appear">
                    <div class="additional_background">
                        <p>Brightness: {{brightness}} %</p>
                        <p>Temperature: {{temperature}} C</p>
                        <p>Humidity: {{humidity}} %</p>
                        <p>Pressure: {{pressure}} hPa</p>
                        <p>VOC: {{VOC}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="button_main_page_loc">
            <button type="button" class="button_main_page" onclick="location.href = '/website/diagrams'">Go to diagram site</button>
        </div>
</html>

{% endblock %}